* {
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
input, button {
    padding: 5px 10px;
}
#list {
    border: 1px solid #ccc;
    padding: 20px;
    display: block;
}
#list > li {
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
#list > li > a > img {
    width: 150px;
    height: auto;
}
#list > li > a {
    text-decoration: none;
    color: black;
}
.city-name {
    font-size: large;
}
#list > li.error-message {
    border: none;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}