.logo {
    width: 150px;
    height: auto;
    margin-top: 15px;
    margin-left: 15px;
}
#container {
    width: 1200px;
    margin: 0 auto;
}
.foot {
    background-color: #FAF1ED;
    width: 100%;
    margin: 0 auto;
}
.foot a {
    text-decoration: none;
}