.logo {
    width: 150px;
    height: auto;
    margin-top: 15px;
    margin-left: 15px;
}
#container {
    width: 1200px;
    margin: 0 auto;
}
.foot {
    background-color: #FAF1ED;
    width: 100%;
    margin: 0 auto;
}
.foot a {
    text-decoration: none;
}
.search-box{
    display: flex;
    justify-content: center;
    align-items: center ;
    padding: 40px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #51e3d4;
    border-radius: 100%;
    transition: 0.4s;
    width: 50px;
    cursor: pointer;
    margin: 0 auto;
}
.search-box:hover{
    box-shadow: 0px 0px .5px 1px #51e3d4;
    background-color: #0BC95F;
}