ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    font-size: 14px;
}
.menu {
    width: 100%;
    overflow: hidden;
    margin: 150px auto;
}
.menu > li {
    width: 33.3%;
    float: left;
    text-align: center;
    line-height: 40px;
    background-color: black;
}
.menu a {
    color: #fff;
}
.submenu > li {
    line-height: 50px;
    background-color: darkgray;
}
.submenu {
    height: 0;
    overflow: hidden;
}
.menu > li:hover {
    background-color: darkgray;
    transition-duration: 0.5s;
}
.menu > li:hover .submenu {
    height: 150px;
    transition-duration: 0.75s;
}